# Django project files
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Static files
staticfiles/
media/

# Virtual environment
venv/
.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# Dependency directories
node_modules/
bower_components/